/*/*/

body {
    font-size: 14px;
    background: #ccc;
    background-image: none;

}

#headerWrapper {
    background: url(../images/fader_branco.png);
}

.form-submit,
#primaryMenu ul.sf-menu,
#primaryMenu ul.sf-menu li ul li a:hover,
#primaryMenu ul.sf-menu li ul li a.active,
ul.pager li a,
.blockregion .block h2 {
    background: #FFA200; /* rgb(253,202,1); */
    text-shadow: 1px 1px 2px #000;
}
#primaryMenu ul.sf-menu li a:hover {
    box-shadow: inset 0 0 3px #000;
}

#menuLeft,
#sidebar_first h2 {
    background: url("../images/block-bg.png") bottom left no-repeat;
    text-shadow: 1px 1px 2px #000;
}

#menuRight,
#sidebar_last h2,
#sidebar_last h2 a {
    background: url("../images/right-block-bg.png") bottom right no-repeat;
    text-shadow: 1px 1px 2px #000;
    text-align: center;
    color: #FFFFFF
}
#sidebar_last h2.title a {
    background:none;
}

#sidebar_last.sidebar .even h2 {
    background-image: url("../images/icone.png"), url("../images/right-block-bg.png");
    background-position: 3px 4px, bottom right;
    background-repeat: no-repeat;
    background-clip: padding-box, border-box;
    background-size: auto 29px, auto;
}

#sidebar_last.sidebar .odd h2 {
    background-image: url("../images/icone.png"), url("../images/right-block-bg-black.png");
    background-position: 3px 4px, bottom right;
    background-repeat: no-repeat;
    background-clip: padding-box, border-box;
    background-size: auto 29px, auto;
}

#sidebar_last.sidebar .block .content {
    padding: 1px 4px 10px 10px;
    font-size: 12px;
    text-align: justify;
}

#sidebar_last.sidebar div.content {
    box-shadow: -3px 3px 8px rgba(0,0,0,0.8);
}

#primaryMenu ul.sf-menu li a:hover,
#primaryMenu ul.sf-menu li:hover,
#primaryMenu ul.sf-menu li a.active,
#primaryMenu ul.sf-menu li.active-trail,
#primaryMenu ul.sf-menu li ul li a:hover,
#primaryMenu ul.sf-menu li ul li a.active {
    background: rgb(225,132,0); /*rgb(255,162,0);*/
}

#header #siteName {
    margin: 13px 0 0 13px;
}

#header #searchBox {
    margin: 36px 0 0;
}

#contentWrapper {
    border-bottom: 5px solid rgb(253,202,1);
}

#searchBox .region-search-box {
    margin: 5px;
}

#breadcrumb {
    display:none;
    font-size: 10px;
    color: rgba(51,51,51,.1);
    border: 1px dashed rgba(51,51,51,.3);
    background: rgba(240,240,240,.3);
}

#footer_bottom .region-footer-bottom .content {
    min-height: 20px;
}

#footer,
#footer .footer-text,
#footer .footer-text a {
    font-size: 10px;
    color:#555;
    font-style: italic;
}

#footer .footer-text {
    padding: 5px 0 5px 0;
}

#license-block {
    font-size: 10px;
    position: relative;
    width: 960px;
    text-align: center;
    display: block;
    min-height: 20px;
    /* background: #F0F0F0;*/
    top: -1px;
    left: -1px;
    padding-top: 10px;
}

#license-img {
    text-align: right;
    position: relative;
    float: left;
    padding-top: 6px;
    padding-right: 10px;
    padding-left: 187px;
    top: 0;
}

#license-text {
    position: relative;
    line-height: 0.7em;
    float: left;
    top: 0;
    }

.form-submit {
    font-weight: bold;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
}
